





.btn
{
    display: inline-block;
    padding: .9rem 1.5rem;
    border-radius: var(--border-radius);
    color: var(--min-color);
    background: none;
    border: var(--border);
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.7rem;
}
.btn:hover
{
    border-radius: var(--border-radius-hover);
    border: var(--border-hover);
}